.login-bg {
  height: 100vh;
  width: 100%;
  background: url("../assets/bg.jpg") no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass-card {
  width: 380px;
  padding: 40px 30px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(12px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
  text-align: center;
  color: #fff;
}

.title {
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 16px;
  margin-bottom: 25px;
  font-weight: 300;
}

.glass-card input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.glass-card input::placeholder {
  color: #ddd;
}

.login-btn {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(90deg, #4facfe, #00f2fe);
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

.login-links {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
  font-size: 14px;
}

.login-links span {
  cursor: pointer;
  color: #9be7ff;
}
